@model _2_Feb.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Person</h4>
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2" for="First_Name">First Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-length="The field First Name must be a string with a maximum length of 12." data-val-length-max="12" data-val-required="First name is required" id="First_Name" name="First_Name" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="First_Name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Last_Name">Last Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-length="The field Last Name must be a string with a maximum length of 12." data-val-length-max="12" data-val-required="Last name is required" id="Last_Name" name="Last_Name" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Last_Name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="E_mail">Email</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="Email is required" id="E_mail" name="E_mail" type="email" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="E_mail" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Phone">Phone</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-regex="The field Phone must match the regular expression &#39;((079)|(078)|(077)){1}[0-9]{7}&#39;." data-val-regex-pattern="((079)|(078)|(077)){1}[0-9]{7}" id="Phone" name="Phone" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Age">Age</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Age must be a number." data-val-range="The field Age must be between 18 and 50." data-val-range-max="50" data-val-range-min="18" id="Age" name="Age" type="number" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Age" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Job_Title">Job_Title</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-maxlength="The field Job_Title must be a string or array type with a maximum length of &#39;10&#39;." data-val-maxlength-max="10" id="Job_Title" name="Job_Title" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Job_Title" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Gender">Gender</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        <select class="list-box tri-state" id="Gender" name="Gender">
                            <option selected="selected" value="">Select</option>
                            <option value="true">Female</option>
                            <option value="false">Male</option>
                        </select>
                        <span class="field-validation-valid text-danger" data-valmsg-for="Gender" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="Image">Image</label>
                <div class="col-md-10">
                    <input type="file" id="Image" name="Image" class="form-control" accept=".png ,.jpg,.gif" />
                    <img src="~/Image/@Model.Image" style="width:25px;height:25px;" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="CV">CV</label>
                <div class="col-md-10">
                    <input type="file" id="CV" name="CV" class="form-control" accept=".pdf ,.docx" />

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>

        <div>
            <a href="/Persons">Back to List</a>
        </div>
    }
</body>
</html>
