@model _6_Feb.Models.Order

<div>
    <h3> Last Order : </h3>
   
    <table class="dl-horizontal">
        <tr>
            <td> <h4> Order ID : </h4>  </td>
            <td style="color:gray"> @Model.OrderID</td>
        </tr>
        <tr>
            <td>  <h4> Order Date : </h4> </td>
            <td style="color:gray"> @Model.OrderDate</td>
        </tr>
    </table>



</div>

