@model _6_Feb.Models.Order

<div>
    <h2> Last Order : </h2>
    <hr />
    <h3> Order ID : <span style="color:gray"> @Model.OrderID</span> </h3>
    <h3> Order Date : <span style="color:gray"> @Model.OrderDate</span> </h3>

</div>

